@model FilmProject.Models.ViewModels.DetailsActors

@{
    ViewBag.Title = "Details";
}

<a href="/Actor/List">Go back to list</a>
<br />
<a href="/Actor/Edit/@Model.SelectedActor.ActorId">Update</a>
<br />
<a style="color:#ff0000"; href="/Actor/DeleteConfirm/@Model.SelectedActor.ActorId">Delete</a>
<h2>@Model.SelectedActor.ActorName</h2>
<div>Fee: @Model.SelectedActor.ActorFee</div>

<div>
    <h3>Starring in:</h3>
    @foreach(var film in Model.StarFilms)
    { 
        <a href="/Film/Details/@film.FilmId">@film.FilmName</a><br />
    }
</div>