@model IEnumerable<FilmProject.Models.ActorDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Actors</h2>
<a href="/Actor/New">New Actor</a>
@foreach (var actor in Model)
{
    <h2><a href="/Actor/Details/@actor.ActorId">@actor.ActorName</a></h2>
    <div>Salary:@actor.ActorFee</div>
}

