@model IEnumerable<FilmProject.Models.StudioDto>

@{
    ViewBag.Title = "List";
}
<a href="/Studio/New">New Studio</a>
<h2>List of films</h2>
@foreach (var studio in Model)
{
    <h2><a href="/Studio/Details/@studio.StudioId">@studio.StudioName</a></h2>
    <div>BIO: @studio.StudioDesc</div>

}