@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FILM PRODUCTION DATABASE</h1>
    <p class="lead">This is a database system which maintains film production details</p>
</div>


