@model IEnumerable<FilmProject.Models.FilmDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Film/New">New Film</a>
@foreach (var film in Model)
{
    <h2><a href="/Film/Details/@film.FilmId">@film.FilmName</a></h2>
    <div>Director: @film.DirectorName</div>
    <div>Studio: @film.StudioName</div>
    <div>Plot: @film.FilmPlot</div>
}

